@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Afacad+flux ;
    
}

body{
    background-color: rgb(185, 157, 157);
    height: auto;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    background-color: rgba(47, 151, 26, 0.621);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100%;
}

.navbar a{
    font-size: 18px;
    color: black;
    text-decoration: none;
    font-weight: 500;
    margin: 10px;
    transition: .2s;
}

.navbar a:hover{
    color: rgb(114, 0, 214);
}


.logo{
    font-size: 24px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: 600;
    margin-left: 2%;
}

.home{
    max-width: 900px;
    margin-left: 5%;
    text-align: left;
}

.home-content{
    font-size: 20px;
    line-height: 1.6;
    margin-top: 90px;
    color: black;
}

.introduccion{
    display: inline-block;
    padding: 12px 24px;
    font-size: 18px;
    font-weight: 400;
    margin-left: 10%;
    align-items: center;
}

.objetivos {
    display: inline-block;
    padding: 12px 24px;
    font-size: 18px;
    font-weight: 400;
    margin-left: 10%;
    align-items: center;
   
}

.conceptos {
    display: inline-block;
    padding: 12px 24px;
    font-size: 18px;
    font-weight: 500;
    margin-left: 10%;
    align-items: center;
    
}

.ley a{
    display: inline-block;
    text-decoration: none;
    padding: 12px 24px;
    font-size: 15px;
    font-weight: 500;
    margin-left: 10%;
    border-radius: 40%;
    
}

.ley p{
    display: inline-block;
    padding: 12px 24px;
    font-size: 18px;
    font-weight: 500;
    margin-left: 10%;
    align-items: center;
    
}





